
body{
    background-color: antiquewhite;
}
#logo{
    border: solid;
    width: 100%;
    height: max-content;
    background-color: white;
    border-color: grey;
}
#title{
    margin-top: 0px;
    border: thick;
}
img{
    
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}
h1{
    text-align: center;
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#img-caption{
    color: crimson;
    text-align:center;
    font-size:medium;
}
#tribute-info{
    border: solid;
    border-color: grey;
    text-align:center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:darkslategrey;
}
#ptitle{
    border: solid;
    border-color: aliceblue;
    border-top: 100%;
    margin-top: 1%;
    color: white;
    font-size: x-large;
    text-align: center;
    background-color: gray;
}
#paragraphs{
    border : solid;
    border-style:ridge;
    border-color: rgb(131, 148, 32);
    border-top: 0ch 0ch;
    font-size: large;
    color: black;
}
ul{
    margin-left: 20%;
}